/* General Styles */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: darkgrey;
}

/* Style the header of every page */

.header {
    padding: 30px;
    background-color: black;
    color: yellow;
}


/* Style the navigation menu on every page */

.navigation {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    table {
        border-spacing: 10px;
    }
}

/* Style the main image in the homepage */

#homeimage {
    display: flex;
    justify-content: center;

    img {
        width: 900px;
    }
}

/* Style the sales pitch wherever it appears */

.pitch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;

    h2, p {
        text-align: center;
    }
}

/* Style the footer on every page */

footer {
    text-align: center;
}

/* Style the image on the About page */

#aboutimage {
    img {
        width: 150px;
        padding-bottom: 30px;
    }
}

/* Style the list of credentials on the About page */

#credentials {
    li {
        margin-bottom: 10px;
    }
}

/* Style the image on the Contact page */

#contactimage {
    img {
        width: 200px;
        padding-bottom: 30px;
    }
}

/* Style the contact form anywhere it appears on the site */

.contactform {
    padding-bottom: 100px;
    padding-top: 5px;

    form input {
        margin-bottom: 5px;
    }

    form input[type="submit"] {
        color: yellow;
        background-color: rgba(0, 0, 0, 0.784);
    }

    form input[type=submit]:hover {
        background-color: black;
    }
}

